body, h1, h2, h3, h4, h5, h6, p, ul, li, a, nav, button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

nav {
    background: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    align-items: center;
    height: 75px;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.search-container {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.search-container input {
    width: 300px;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.search-container button {
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    background-color: #333;
    color: #fff;
    cursor: pointer;
}

.search-container button:hover {
    background-color: #555;
}

.content-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.background-image {
    position: absolute;
    width: 100%;
    height: auto;
    opacity: 0.7;
    z-index: -1;
}

.wellcome {
    padding: 30px;
}

h1 {
    font-size: 48px;
    color: #000000;
    font-weight: bold;
}

.description {
    margin: 20px 0;
    font-size: 20px;
}

.social-media-icons {
    position: fixed;
    top: 95%;
    left: 89%;
}

.social-media-icons a {
    margin: 0 10px;
}

.social-media-icons img {
    width: 40px;
    height: 40px;
}


.book-now {
    width: 10%;
    padding: 15px 30px;
    background-color: #0b57c9;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    cursor: pointer;
    margin-bottom: 20px;
}

.book-now:hover {
    background-color: #005ae2;
}

/* About Us Page */
.about-us {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.about-us h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.about-us p {
    font-size: 18px;
    margin-bottom: 40px;
}

.team-member {
    margin-bottom: 20px;
}

.team-member h3 {
    font-size: 24px;
    margin-bottom: 5px;
}

.team-member p {
    font-size: 18px;
    color: #666;
}

/* Contact Us Page */
.contact-us {
    display: flex;
    flex-direction: column;
    padding: 50px 20px;
    text-align: center;
}

.contact-us h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.contact-us form {
    max-width: 600px;
    margin: 0 auto;
    text-align: left;
}

.contact-us label {
    display: block;
    margin-bottom: 5px;
    font-size: 18px;
}

.contact-us input,
.contact-us textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.contact-us button {
    padding: 15px 30px;
    background-color: #0b57c9;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    cursor: pointer;
}

.contact-us button:hover {
    background-color: #005ae2;
}
